<app-modal-actions-response></app-modal-actions-response>

<form [formGroup]="formGroupArea" (submit)="submit()" class="form-area">

	<fieldset>

		<legend>Área</legend>

		<ng-container *ngIf="viewExpected == EnumViewExpected.updateById">
			<label for="idArea">Id Area</label>
			<input id="idArea" type="text" class="fit" [value]="idArea" disabled />
		</ng-container>

		<label for="rawData">Raw Data</label>
		<input id="rawData" type="text" formControlName="rawData" />

		<label for="uniqueData">Unique Data</label>
		<input id="uniqueData" type="text" formControlName="uniqueData" />

		<label for="highlighted" class="pure-checkbox">
			<input id="highlighted" type="checkbox" formControlName="highlighted" /> Highlighted
		</label>

		<button type="submit" class="primary">
			{{ viewExpected == EnumViewExpected.create ? 'Criar Área' : 'Atualizar Área' }}
		</button>

	</fieldset>

</form>