<form [formGroup]="formArea" (submit)="submit()" class="pure-form pure-form-stacked">

	<fieldset>

		<legend>Area</legend>

		<label for="rawData">Raw Data</label>
		<input id="rawData" type="text" formControlName="rawData" />

		<label for="uniqueData">Unique Data</label>
		<input id="uniqueData" type="text" formControlName="uniqueData" />

		<label for="highlighted" class="pure-checkbox">
			<input id="highlighted" type="checkbox" formControlName="highlighted" /> Highlighted
		</label>


		<button type="submit" class="primary">
			{{ viewExpected == EnumViewExpected.create ? 'Criar Área' : 'Atualizar Área' }}
		</button>

	</fieldset>

</form>