<app-modal-actions-response></app-modal-actions-response>

<section>
	<input type="text" placeholder="Filter by text" #filter (keyup)="filterResults(filter.value)"
		(blur)="filterResults(filter.value)" />
	<button class="primary" type="button" (click)="filterResults(filter.value)">Search</button>
</section>

<section class="results">

	<table class="list-entity-area">

		<caption>Table 1.1 Areas</caption>

		<thead>
			<tr>
				<th class="fit">Id Area</th>
				<th>Raw Data</th>
				<th>Unique Data</th>
				<th>Highlighted</th>
				<th class="empty"></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let dtoArea of filteredListDtoArea" (click)="openArea(dtoArea?.idArea)" id="idRowArea{{dtoArea?.idArea}}">
				<td class="fit">{{dtoArea?.idArea}}</td>
				<td>{{dtoArea?.rawData}}</td>
				<td>{{dtoArea?.uniqueData}}</td>
				<td>{{dtoArea?.highlighted}}</td>
				<td class="fit">
					<button class="delete" type="button" (click)="removeArea(dtoArea?.idArea ?? -1);$event.stopPropagation();">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>

</section>

<section>
	<button class="primary" type="button" (click)="navigate(['/vr']);">Criar Área</button>
</section>